/* General body styling */
body {
    font-family: 'Roboto', sans-serif;
    margin: 150px;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    color: #333;
}

/* Header */
header {
    background-color: #0b486b;
    color: #fff;
    padding: 0px;
    text-align: center;
    border-bottom: 0px solid #0b486b;
}

header h1 {
    margin: 50px;
    padding: 0px;
    position: relative;
    bottom: -25px;
    font-size: 44px;
}

/* Navigation */
nav ul {
    list-style-type: none;
    border: 20px solid #3b3b3b;
    font-size: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #3b3b3b;
}

nav ul li {
    display: inline;
    margin: 0 100px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #0b486b;
}

/* Main section */
main {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.left {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    flex: 1;
    min-width: 300px;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    min-width: 300px;
}

.left {
    margin-right: 10px;
}

.right {
    margin-left: 10px;
}

.right ul {
    text-align: justify;
    margin-top: 200px;
}

.left img, .right img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.right h2 {
    color: #fff;
    text-align: center;
    background: #0b486b; 
    font-weight: bold; 
    padding: 15px; 
    border: 2px solid #0b486b; 
    border-radius: 6px;
}

/* Container of the left section */
.left {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
}

/* Container for image and text layout */
.profile-container, .flag-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-container img, .flag-container img {
    max-width: 150px;
    margin: 0 20px;
    border-radius: 8px;
}

.left h2 {
    color: #fff;
    text-align: center;
    background: #0b486b; 
    font-weight: bold; 
    padding: 15px; 
    border: 2px solid #0b486b; 
    border-radius: 6px;
}
.title h2 {
    all:inherit;
    text-align: center;
    font-size: x-large;
    font-size: 30px;
    padding: 5px;
    border-bottom: 1px solid #3b3b3b;
}

/* Profile image to the right */
.profile-container {
    flex-direction: row-reverse;
}

/* Image of the flag on the left side */
.flag-container {
    flex-direction: row;
}

/* Footer */
footer {
    background-color: #0b486b;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}

footer span {
    font-weight: bold;
}

footer p#lastModified {
    color: #f5f5f5;
}
